<!doctype html>
<html lang="uk">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Cargar el CSS de Boostrap-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Cargar estilos propios -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
  <body>
    <h1><%= title %></h1>
    <p>Ви переглядаєте домашню сторінку, перейдіть до
      <a href="/specialities">/specialities</a>
      щоб переглянути веб-програму
    </p>
  </body>
</html>

